@page
@model LockoutModel
@{
    ViewData["Title"] = "Usuario bloqueado 😳";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Acceso temporalmente suspendido por medidas de seguridad.</p>
</header>
